[submodule "librrlcom"]
	path = librrlcom
	url = git@github.com:rrlinker/librrlcom.git
	branch = master
[submodule "librlc"]
	path = librrlcrypto
	url = git@github.com:rrlinker/librrlcrypto.git
	branch = master
[submodule "svcrrlinker"]
	path = svcrrlinker
	url = git@github.com:rrlinker/svcrrlinker.git
	branch = master
[submodule "librrlclient"]
	path = librrlclient
	url = git@github.com:rrlinker/librrlclient.git
	branch = master
[submodule "client_example"]
	path = client_example
	url = git@github.com:rrlinker/client_example.git
	branch = master
